//<%= (JAVASCRIPT GOES HERE) %>
//Needs to be instantiated within the .render method of the response call
<h1>You fell in love with: <%= thingVar %></h1>

<p>This is coming from the love.ejs (Embedded JavaScript) file!</p>